.create-container {
  .sections > div:nth-last-child(2) {
    padding-bottom: 30px;
    border-bottom: 1px solid $lightBorderColor;
  }

  .button-container {
    @extend %flex;
    margin: 0 20px 0 20px;

    .domain-type {
      flex: 0 0 20%;
    }

    .create-buttons {
      font-size: 0;
      width: 80%;
      a {
        @mixin button-blue-secondary;
        display: inline-block;
        min-width: 20%;
        text-align: center;
        border-radius: 0;

        &:not(:last-child) {
          border-right: none;
        }

        &:first-child {
          border-radius: 2px 0 0 2px;
        }

        &:last-child {
          border-radius: 0 2px 2px 0;
        }

        &.active {
          background-color: #D5EBFF;
        }
      }
    }
  }

  .user-guidance-text {
    @extend %flex;
    margin: 20px 20px 0 calc(20% + 10px);

    div {
      width: 60%;
      color: $disabledText;
      a {
        @mixin blue-link;
      }
    }
  }

  .domain-form {
    h4 {
      padding: 0 0 15px 20%;
    }

    margin: 20px 20px 0 20px;

    @mixin submit-form {
    }

    @mixin submit-buttons {
      padding-left: 20%;
    }

    .error-message {
      @mixin error-message;
    }

    .hide-from-layout {
      display: none;
    }
  }
}
