@import '../base/layout.css';

.app-header {
  @mixin breadcrumbs;

  .search-container {
    @extend %flex;
    padding: 20px 0 10px 0;
    justify-content: center;
  }

  .app-title {
    height: 1.5rem;
    margin: 20px 0 15px 20px;
    h1 {
      height: 100%;
      width: calc(100% - 2rem);
      @extend %restrict-width;
      a {
        @mixin black-link;
      }
    }
  }

  .app-message {
    background-color:#1c94c4;
    color: white;
    font-weight: 700;
    padding: 10px;
    text-align: center;

    &.error {
      background-color: $errorColor;
    }
    &.success {
      background-color: $successColor;
    }
    &.hidden {
      display: none;
    }
  }

  .app-links {
    margin: 0 20px 10px 20px;
    @mixin nav-links $lightBorderColor {
      li {
        a {
          color: black;
          padding: 8px 20px;
          &:hover {
            color: #464e56;
          }
        }
      }
      .active {
        background-color: #daedff;
      }
    };
  }

  @mixin take-ownership {
    margin: 0 0 0 20px;
  };
  .expandable-content {
    .content {
      display: none;
    }

    &.expanded .content {
      display: block;
    }
  }

  .title-container {
    button {
      @extend %button-transparent;
      color: $bluePrimary;
      width: 150px;
    }

    .app-title {
      width: calc(100% - 200px);
    }

    @extend %flex;
  }
}
