@import '../base/variables.css';
@import '../base/layout.css';
@import '../base/reset.css';
@import '../base/icons.css';
@import '../base/mixins.css';
@import '../base/button.css';
@import '../base/form.css';
@import '../base/autocomplete.css';
@import '../base/table.css';

html {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 0.88em;
  min-width: 1000px;
  height: 100%;
}

button {
  font-size: 1rem;
}

a:hover,
a {
  @extend %link;
}

h1 {
  font-size: 1.4rem;
  font-weight: bold;

}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

html,
body {
  height: 100%;
}
