.home-container {
  @extend %flex;

  .app-navigation {
    @extend %flex-column;
    align-items: center;

    > div {
      min-width: 600px;
    }

    .welcome-athenz-logo {
      background-image: url("/imgs/welcome_to_athenz.gif");
      width: 225px;
      height: 75px;
      margin: 0 auto;
    }

    .desc {
      padding: 40px 0 0 0;
    }

    .details {
      width: 600px;
      align-items: flex-start;
      padding: 20px 0 20px 0;
    }

    .search-container {
      background-color: white;
      padding: 20px 0 0 0;
    }
  }
}
