@import '../base/table.css';
@import '../base/layout.css';

.manage-container {
  table {
    margin: 20px;
    width: calc(100% - 40px);
    @mixin data-table {
      @mixin user-icons;
      .icon-trash {
        @extend %button-transparent;
        font-size: 1.2rem;
      }
    }
  }
}
