@import '../base/layout.css';

.pagination-container {
  @extend %flex;
  justify-content: flex-end;

  > div {
    margin-left: 10px;
    a {
      color: black;
      &[href=""] {
        @extend %disabled-link;
      }
    }
  }
}
