.policies-section {
  .add-container {
    margin: 0 20px 0 15px;
    .add-policy {
      @mixin add-button;
    }
  }

  table {
    margin: 0 20px 0 15px;
    width: calc(100% - 35px);
    @mixin data-table {
      .date {
        padding-right: 5px;
      }

      .effect {
        width: 100px;
      }

      .action {
        width: 120px;
      }

      td {
        vertical-align: top;
        line-height: 1.2;
      }
      .trust {
        width: 8rem;
        .icon-trust {
          cursor: pointer;
          color: $bluePrimary;
          font-size: 1.2rem;
        }
      }
    }

    .add-rule-form {
      form {
        background-color: white;
        margin: 0 20px 0 15px;
        padding: 10px 0 10px 15px;
      }
    }

    @mixin generic-form add-rule {
      background-color: white;
    }
  }

  @mixin modal-form;

  .add-policy-modal {
    @mixin generic-form add-policy {
    }
  }
}
