.search-container {
  background-color: $tableBgColor;

  .search {
    background-color: white;
    border: 1px solid $darkBorderColor;
    display: inline-block;
    padding: 5px 5px 5px 10px;

    input {
      @extend %input-reset;
      min-width: 400px;
    }
  }

  button {
    cursor: pointer;
    min-width: 100px;
    @mixin button-blue-primary;
  }
}
