.app-container {
  @extend %flex;
  align-items: stretch;
  background-color: $rowBgColor;
  min-height: calc(100% - 60px);

  flex-wrap: nowrap;
  position: relative;

  .app {
    @extend %flex-column;
    align-items: stretch;
    background-color: white;
    flex: 0 0 80%;
    width: 80%;

    .app-section {
      .pagination-container {
        margin: 20px;
      }
    }
  }
  
  .domains {
    flex: 0 0 20%;

    .create {
      padding: 10px;
    }

    .title {
      border-bottom: 1px solid #e6e6ff;
      padding: 10px;
      margin: 0 0 10px 0;
      a {
        float: right;
      }
    }

    ul {
      li {
        padding: 10px;
      }
    }

    a {
      @mixin blue-link;
    }

    @mixin user-icons;
    @mixin highlight active;
    @mixin home {
      border-bottom: 1px solid #e6e6ff;
    };
  }

  .delete-modal {
    @mixin center-modal 300px, 400px {
      .content {
        @extend %flex-column;
        align-items: center;

        .cancel {
          @extend %button-transparent;
          @mixin blue-link;
        }

        .delete {
          min-width: 100px;
          margin: 30px 0 10px 0;
          @mixin button-delete;
        }
      }
    }
  }
}

.modal-active {
  &::before {
    background-color: white;
    content: '';
    height: 100%;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.no-js .app-container {
  form fieldset {
    input,
    textarea {
      &[disabled] {
        display: block !important;
      }
    }
  }
}
