/* Colors used are defined at ../../../src/utils/colors.js' */

@import '../base/barchart.css';

.dashboard {
  min-height: calc(100% - 60px);

  .header {
    background-color: $inputBackground;
    .title-container {
      @extend %flex;
      @mixin home {
        width: 20%;
        border-right: 1px solid $darkBorderColor;
      };

      .title {
        margin-left: 20px;
      }
    }
  }

  @mixin breadcrumbs;

  table {
    width: calc(100% - 40px);
    margin: 20px;
    @mixin data-table {
      thead {
        tr:first-child th {
          color: black;
          font-size: 0.9rem;
          vertical-align: top;
          text-align: center;

          &:not(:last-child) {
            @extend %right-border;
          }
        }

        tr:nth-child(2) th {
          &:nth-child(5),
          &:nth-child(3) {
            @extend %right-border;
          }

          &.zms {
            color: $zmsColor;
          }
          &.zts {
            color: $ztsColor;
          }
        }
      }

      tbody {
        td {
          padding: 0 0 0 15px;
          &:not(:last-child):not(.subsection) {
            @extend %right-border;
          }
        }
        .chart {
          width: 10rem;
          @mixin bar-chart {
            margin-top: 5px;
          };
        }
      }
    }
  }

  .graphs {
    background-color: $inputBackground;
    padding: 20px 0 20px 20px;
    @extend %flex;

    .radial-stats {
      @extend %flex;

      @mixin radial-stat 15vw {
        .sections .stat {
          position: relative;
          padding-left: 1.2vw;

          &::before {
            border-radius: 50%;
            content: '';
            height: 0.9vw;
            left: 0;
            top: 5px;
            position: absolute;
            width: 0.9vw;
          }

          &.zms::before {
            background-color: $zmsColor;
          }
          &.zts::before {
            background-color: $ztsColor;
          }
          &.toplevel::before {
            background-color: $toplevelColor;
          }
          &.personal::before {
            background-color: $personalColor;
          }
          &.subdomain::before {
            background-color: $subdomainColor;
          }
        }
      }
    }

    .circle-stats {
      @extend %flex;
      @mixin circle-stat 15vw {
        .role {
          border-color: $roleColor;
        }

        .service {
          border-color: $serviceColor;
        }

        .policy {
          border-color: $policyColor;
        }
      };
    }
  }
}
