@import '../base/table.css';

.domain-container {
  .domain-section {
    .details {
      margin: 0 20px 10px 20px;
    }
  }
}
.manage-container {
  .domain-section {
    .details {
      margin: 0 20px 10px 0;
    }

    form {
      @mixin submit-buttons {
        margin-top: 25px;
      };
      .error-message {
        @mixin error-message;
      }
    }
  }
}
.domain-section {
  .details {
    div {
      @extend %flex;
      background-color: $rowActiveColor;
      border-bottom: 1px solid $lightSeparator;

      span {
        padding: 10px 10px;
        &:first-child {
          width: 150px;
        }
      }
    }

    @mixin form-element;

    input[type=text]:disabled {
      color: black;
      cursor: text;
      background-color: $rowActiveColor;
      border: 0;
      padding: 0;
    }

    a {
      @mixin blue-link;
    }
  }

  .hidden {
    display: none;
  }
}
