@import '../base/layout.css';


.header-notice {
  @extend %flex;
  width: 100%;
  padding: 7px;
  background: #000000;
  color: #FFFFFF;

  p {
    text-align: center;
    width: 100%;
  }

  a {
    @mixin blue-link;
  }
}

.header-container {
  @extend %flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #400090 10%, #6A00F6 75%, #188FFF);
  height: 60px;
  width: 100%;
  z-index: 2;

  .support {
    color: white;
  }

  .home {
    padding: 0 15px 0 15px;
    margin: 5px 0 5px 0;
    .athenz-logo {
      @extend %flex;
      color: white;

      h2 + span {
        font-size: 0.8rem;
        margin-left: 5px;
      }

      &::before {
        content: '';
        display: inline-block;
        background-image: url("/imgs/welcome_to_athenz.gif");
        background-size: cover;
        background-clip: border-box;
        background-repeat: no-repeat;
        height: 50px;
        width: 55px;
        margin-right: 10px;
      }
    }
  }

  .logo-container {
    padding-left: 20px;
    width: 20%;
    .iaas-logo {
      @extend %bg-icon;
      color: white;
      font-size: 22px;

      &::before {
        height: 50px;
        width: 200px;
      }
    }
  }

  .user-container {
    width: 400px;
    @extend %flex;
    justify-content: flex-end;

    .dashboard-link {
      position: relative;
      color: white;
    }

    .support {
      position: relative;

      .icon-question {
        cursor: pointer;
        font-size: 1.8rem;
        padding: 1rem;
      }

      .links {
        @extend %flex-column;
        background-color: white;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.75);
        display: none;
        position: absolute;
        padding: 5px;
        right: 0;
        width: 10rem;
        z-index: 3;
      }

      &:hover .links {
        display: flex;
      }

      a {
        @mixin blue-link;
        padding: 5px;
      }
    }

    .user-profile {
      color: white;
      margin: 0 15px 0 15px;
    }

    .notification-count {
      background-color: red;
      font-size: 0.8rem;
      padding: 1px 3px 1px 3px;
      vertical-align: top;
    }

    .user-icon {
      width: 55px;
      border-radius: 45px 45px 45px 45px / 50px 50px 50px 50px;
      height: 55px;
      margin-right: 10px;
      z-index: 2;
    }
  }

  .search-container {
    @extend %flex;
    background-color: inherit;
    width: calc(80% - 400px);
  }
}
