@import '../base/table.css';

.roles-section {
  .add-container {
    @extend %flex;
    justify-content: space-between;
    margin: 0 20px 10px 15px;

    .add-role {
      @mixin add-button;
    }

    .add-profile {
      @mixin add-button;
    }

    .add-members {
      @mixin add-button;
    }

    [class^="icon-"] {
      font-size: 1.5rem;
      color: $bluePrimary;
      border: 1px solid $bluePrimary;
      padding: 3px;
    }

    button {
      @extend %button-reset;
    }
  }

  table {
    margin: 0 20px 0 15px;
    width: calc(100% - 35px);

    @mixin data-table {
      td {
        .icon-trash {
          &::before {
            font-size: 1.4rem;
          }
        }
      }

      .info {
        .error-message {
          @mixin error-message;
        }
        .role-members {
          @extend %flex;

          li {
            background-color: white;
            width: 40%;
            margin: 5px 10px;
            div {
              @extend %flex;
              justify-content: space-between;
              padding: 10px;
              button {
                @extend %button-reset;
              }
            }
          }
        }
      }
    }
  }

  @mixin modal-form;

  .add-people-modal,
  .results-modal {
    .role-container {
      margin-top: 20px;
      width: 60%;
      .roles {
        @extend %flex-column;
        border-top: 1px solid $darkBorderColor;
        margin-top: 10px;
        height: 60%;

        > .role {
          background-color: $inputBackground;
        }
      }

      .role {
        padding: 10px;
        width: calc(100% - 10px);
      }
    }
  }

  .add-people-modal {
    .members {
      width: 60%;
      input {
        margin-top: 5px;
      }
    }
  }

  .results-modal {
    h2 {
      margin-top: 5rem;
    }

    .roles > div:not(.role) {
      display: none;
    }

    .role {
      padding: 0 10px 0 10px;
      @extend %flex;
      justify-content: space-between;

      .icon::before {
        font-size: 1.4rem;
      }

      &.error {
        color: $disabledText;
        .icon::before {
          color: $errorColor;
        }
      }

      &.success {
        .icon::before {
          color: $successColor;
        }
      }
    }
  }

  .add-role-modal {
    @mixin generic-form add-role {
      &.role-type {
        > span {
          @extend %flex-column;
          label {
            &:not(:last-child) {
              padding-bottom: 5px;
            }
          }
        }
      }

      input[name=delegated-domain] {
        margin-left: 1em;
        width: calc(100% - 1em);
      }
    }
  }

  .add-profile-modal {
    @mixin generic-form add-profile {
      &.role-type {
        > span {
          @extend %flex-column;
          label {
            &:not(:last-child) {
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }

}
