@import '../base/mixins.css';

.app-container .search-results-container {
  @mixin nav-links $lightBorderColor {
    margin-bottom: 10px;
    li {
      a {
        color: black;
        &:hover {
          color: #464e56;
        }
      }
      &::before {
        margin-right: 5px;
      }
    }
  }

  .search-results {
    width: 70%;
    table {
      width: 100%;
      @mixin data-table;

      .icon-role,
      .icon-policy,
      .icon-service {
        &:before {
          margin-right: 8px;
          font-size: 1rem;
        }
      }
      .icon-policy:before {
        height: 0.8rem;
        width: 0.8rem;
      }
    }
  }
}
