.services-section {
  .add-container {
    margin: 0 20px 0 15px;
    .add-service {
      @mixin add-button;
    }
  }

  table {
    margin: 0 20px 0 15px;
    width: calc(100% - 35px);
    @mixin data-table {
      td {
        vertical-align: top;
        line-height: 1.2;
      }
    }

    .details {
      div {
        @extend %flex;
        background-color: $rowActiveColor;
        border-bottom: 1px solid $lightSeparator;

        a {
          @mixin blue-link;
        }

        .item {
          font-weight: 400;
        }

        span {
          padding: 10px 0 10px 0;
          &:first-child {
            width: 150px;
          }
        }
      }
    }

    .service-keys {
      margin: 15px 5px 0 0;
      .key {
        margin: 0 15px 10px 0;
        line-height: 1.8;

        @extend %flex-column;
        span {
          white-space: pre-line;
          word-break: break-all;
        }

        div {
          @extend %flex;
          justify-content: space-between;
          flex-direction: row;
          width: 100%;

          button {
            @extend %button-reset;
          }
          .id {
            color: $grayText;
          }
        }

        .value {
          border: 1px solid $lightBorderColor;
          background-color: $rowBgColor;
          padding: 5px;
        }
      }
    }

    .add-key-form {
      form {
        background-color: white;
        margin: 0 20px 0 15px;
        padding: 10px 0 10px 15px;
      }
    }

    @mixin generic-form add-key {
      background-color: white;
    }
  }

  @mixin modal-form;

  .add-service-modal {
    @mixin generic-form add-service {
    }
  }
}
