*~
**/.idea
**/.classpath
**/.project
**/.settings
**/.checkstyle
**/target/
**/dependency-reduced-pom.xml
**/pom.xml.releaseBackup
**/.DS_Store
**/*.iml
release.properties
servers/zms/zms_logs/
servers/zms/zms_root/
servers/zms/bin/
servers/zms/schema/zms_server.mwb.bak
servers/zts/zts_logs/
servers/zts/zts_store/
servers/zts/bin/
containers/jetty/zms_logs/
core/zms/bin/
core/zts/bin/
clients/go/zms/pkg/
clients/go/zms/src/
clients/go/zms/bin/
clients/go/zms/examples/get-access/get-access
clients/go/zts/pkg/
clients/go/zts/src/
clients/go/zts/bin/
clients/go/zts/examples/get-role-token/get-role-token
clients/java/zpe/src/test/resources/upd_pol_dir/
clients/java/zpe/src/test/resources/pol_dir/angler.pol
clients/java/zpe/src/test/resources/pol_dir/empty.pol
clients/java/zpe/src/test/resources/pol_dir/sports.pol
clients/java/zms/bin/
clients/java/zpe/bin/
clients/java/zts/bin/
clients/nodejs/zts/node_modules/
clients/nodejs/zts/artifacts/
clients/nodejs/zts/.eslintcodecache
clients/nodejs/zts/.nyc_output/
clients/nodejs/zts/artifacts
clients/nodejs/zpe/node_modules/
clients/nodejs/zpe/artifacts/
clients/nodejs/zpe/.eslintcodecache
clients/nodejs/zpe/.nyc_output/
clients/nodejs/zpe/artifacts
libs/go/zmscli/bin/
libs/go/zmscli/pkg/
libs/go/zmscli/src/
libs/go/zmssvctoken/bin/
libs/go/zmssvctoken/pkg/
libs/go/zmssvctoken/src/
libs/go/athenzconf/src/
libs/go/athenzconf/bin/
libs/go/athenzconf/pkg/
libs/java/client_common/bin/
libs/java/server_common/bin/
libs/java/auth_core/bin/
libs/nodejs/auth_core/node_modules/
libs/nodejs/auth_core/artifacts/
libs/nodejs/auth_core/.eslintcodecache
libs/nodejs/auth_core/.nyc_output/
libs/nodejs/auth_core/artifacts
ui/artifacts/
ui/keys/
ui/node_modules/
ui/.next/
ui/junit.xml
ui/lib-cov/
ui/coverage/
ui/bin/
# dev files to ignore
ui/**/athenz.ui-server.pem
ui/**/athenz.ui-server_pub.pem
ui/**/cookie-session
ui/**/dev_ui_x509_cert.cnf
ui/**/ui_cert.pem
ui/**/ui_key.pem
ui/**/zms_cert.pem
ui/**/athenz.conf
ui/**/users_data.json
utils/zms-cli/pkg/
utils/zms-cli/src/
utils/zms-cli/bin/
utils/athenz-conf/pkg/
utils/athenz-conf/src/
utils/athenz-conf/bin/
utils/zms-svctoken/bin/
utils/zms-svctoken/pkg/
utils/zms-svctoken/src/
utils/zpe-updater/pkg/
utils/zpe-updater/src/
utils/zpe-updater/bin/
utils/zts-roletoken/bin/
utils/zts-roletoken/pkg/
utils/zts-roletoken/src/
utils/zts-svccert/bin/
utils/zts-svccert/pkg/
utils/zts-svccert/src/
utils/zts-accesstoken/pkg/
utils/zts-rolecert/bin/
utils/zts-rolecert/pkg/
utils/zts-rolecert/src/
utils/zpe_policy_updater/bin/
utils/zpe_policy_updater/tmp_metrics/
utils/zpe_policy_updater/src/test/resources/sys.auth.new.pol
libs/go/ztsclientutil/bin/
libs/go/ztsclientutil/pkg/
libs/go/ztsclientutil/src/
rdl/rdl-gen-athenz-server/rdl-gen-athenz-server
rdl/rdl-gen-athenz-go-client/rdl-gen-athenz-go-client
aws-setup/ui-setup/tars/
aws-setup/zms-setup/tars/
aws-setup/zts-setup/tars/
aws-setup/athenz-conf-aws/pkg/
libs/go/athenzutils/pkg/
**test-output**
clients/nodejs/zpe/package-lock.json
clients/nodejs/zts/package-lock.json
libs/nodejs/auth_core/package-lock.json
ui/package-lock.json
.envrc
.clover/
athenz-docker-build.log

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed


# Optional REPL history
.node_repl_history

