*~
**/.idea
**/.classpath
**/.project
**/.settings
**/.checkstyle
**/target/
**/dependency-reduced-pom.xml
**/pom.xml.releaseBackup
**/.DS_Store
**/*.iml
release.properties
servers/zms/zms_logs/
servers/zms/zms_root/
servers/zms/bin/
servers/zms/schema/zms_server.mwb.bak
servers/zms/src/test/resources/mysql/zms_server.sql
servers/zts/zts_logs/
servers/zts/zts_store/
servers/zts/bin/
servers/zts/schema/zts_server.mwb.bak
containers/jetty/zms_logs/
core/zms/bin/
core/zts/bin/
clients/go/zms/pkg/
clients/go/zms/src/
clients/go/zms/bin/
clients/go/zms/examples/get-access/get-access
clients/go/zts/pkg/
clients/go/zts/src/
clients/go/zts/bin/
clients/go/msd/pkg/
clients/go/msd/bin/
clients/go/zts/examples/get-role-token/get-role-token
clients/java/zpe/src/test/resources/upd_pol_dir/
clients/java/zpe/src/test/resources/pol_dir/angler.pol
clients/java/zpe/src/test/resources/pol_dir/angler.jws
clients/java/zpe/src/test/resources/pol_dir/empty.pol
clients/java/zpe/src/test/resources/pol_dir/sports.pol
clients/java/zms/bin/
clients/java/zpe/bin/
clients/java/zts/bin/
clients/java/zts/src/test/resources/test.domain/admin
clients/nodejs/zts/node_modules/
clients/nodejs/zts/artifacts/
clients/nodejs/zts/.eslintcodecache
clients/nodejs/zts/.nyc_output/
clients/nodejs/zts/artifacts
clients/nodejs/zpe/node_modules/
clients/nodejs/zpe/artifacts/
clients/nodejs/zpe/.eslintcodecache
clients/nodejs/zpe/.nyc_output/
clients/nodejs/zpe/artifacts
libs/go/zmscli/bin/
libs/go/zmscli/pkg/
libs/go/zmscli/src/
libs/go/zmssvctoken/bin/
libs/go/zmssvctoken/pkg/
libs/go/zmssvctoken/src/
libs/go/athenzconf/src/
libs/go/athenzconf/bin/
libs/go/athenzconf/pkg/
libs/java/client_common/bin/
libs/java/server_common/bin/
libs/java/auth_core/bin/
libs/nodejs/auth_core/node_modules/
libs/nodejs/auth_core/artifacts/
libs/nodejs/auth_core/.eslintcodecache
libs/nodejs/auth_core/.nyc_output/
libs/nodejs/auth_core/artifacts
ui/artifacts/
ui/keys/
ui/node_modules/
ui/.next/
ui/junit.xml
ui/lib-cov/
ui/coverage/
ui/bin/
# dev files to ignore
ui/**/athenz.ui-server.pem
ui/**/athenz.ui-server_pub.pem
ui/**/cookie-session
ui/**/dev_ui_x509_cert.cnf
ui/**/ui_cert.pem
ui/**/ui_key.pem
ui/**/zms_cert.pem
ui/**/athenz.conf
ui/**/users_data.json
utils/zms-cli/pkg/
utils/zms-cli/src/
utils/zms-cli/bin/
utils/athenz-conf/pkg/
utils/athenz-conf/src/
utils/athenz-conf/bin/
utils/hostdoc/pkg/
utils/hostdoc/target/
utils/zms-svctoken/bin/
utils/zms-svctoken/pkg/
utils/zms-svctoken/src/
utils/zpe-updater/pkg/
utils/zpe-updater/src/
utils/zpe-updater/bin/
utils/zts-roletoken/bin/
utils/zts-roletoken/pkg/
utils/zts-roletoken/src/
utils/zts-svccert/bin/
utils/zts-svccert/pkg/
utils/zts-svccert/src/
utils/zts-accesstoken/bin/
utils/zts-accesstoken/pkg/
utils/zts-accesstoken/src/
utils/zts-idtoken/bin/
utils/zts-idtoken/pkg/
utils/zts-idtoken/src/
utils/zts-rolecert/bin/
utils/zts-rolecert/pkg/
utils/zts-rolecert/src/
utils/msd-agent/pkg/
libs/go/ztsclientutil/bin/
libs/go/ztsclientutil/pkg/
libs/go/ztsclientutil/src/
rdl/rdl-gen-athenz-server/rdl-gen-athenz-server
rdl/rdl-gen-athenz-go-client/rdl-gen-athenz-go-client
rdl/rdl-gen-athenz-go-model/rdl-gen-athenz-go-model
rdl/rdl-gen-athenz-java-model/rdl-gen-athenz-java-model
rdl/rdl-gen-athenz-java-client/rdl-gen-athenz-java-client
libs/go/athenzutils/pkg/
**test-output**
clients/nodejs/zpe/package-lock.json
clients/nodejs/zts/package-lock.json
libs/nodejs/auth_core/package-lock.json
.envrc
.clover/
athenz-docker-build.log
syncers/auth_history_syncer/dynamodb-local-metadata.json

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed


# Optional REPL history
.node_repl_history
