<div class="user-guidance-text">
  <div class="contents">
    A top level domain in Athenz can be created by system administrators only.
  </div>
</div>
<div class="domain-form">
  <h4>Top Level</h4>
  <form action="" method="post">
    <fieldset>
      <div class="section">
        <label>Domain Name</label>
        <div class="contents">
          <div id="user-feedback" class="error-message hide-from-layout">
          </div>
          <span class="content">
            <input name="name" type="text" placeholder="Enter Domain Name"
                pattern="[A-Za-z_0-9-]+" />
          </span>
          <span class="error-message">
          </span>
        </div>
      </div>
      {{> submitcontainer}}
    </fieldset>
  </form>
</div>
