<div class="modal add-policy-modal">
  {{> modaltitle title="Add policy to this domain" }}
  <form action="{{addPolicy}}" method="post" class="container add-policy-form">
    <fieldset>
      <input type="hidden" name="token" value="" />
      <div class="section">
        <label for="name">Policy Name</label>
        <div class="contents">
          <span class="content">
            <input required type="text" name="name" id="name" placeholder="Enter name"
                pattern="[A-Za-z_0-9-_.]+" />
          </span>
        </div>
      </div>
      <div class="section">
        <label for="rule">Rule</label>
        <div class="contents">
          <span class="content">
            <label for="effect">Effect</label>
            <span>
              {{{renderRadioButtons 'effect' policyTypes}}}
            </span>
          </span>
          <span class="content">
            <label for="action">Action</label>
            <input required type="text" name="action" id="action" value="" placeholder="Enter Action"/>
          </span>
          <span class="content">
            <label for="role">Role</label>
            <select required name="role">
              <option value=""></option>
            </select>
          </span>
          <span class="content">
            <label for="resource">Resource</label>
            <input required type="text" name="resource" id="resource" value="" placeholder="Enter resource"/>
          </span>
        </div>
      </div>
      <div class="error-message"></div>
      {{> submitcontainer}}
    </fieldset>
  </form>
</div>
