<div class="add-rule-form">
  <h5>Add Rule</h5>
  <form action="{{addAssertion}}" method="post">
    <fieldset>
      <input type="hidden" name="token" value="" />
      <div class="section">
        <label for="effect">Effect</label>
        <div class="contents">
          <span class="content">
            <span>
              {{{renderRadioButtons 'effect' policyTypes}}}
            </span>
          </span>
        </div>
      </div>
      <div class="section">
        <label for="action">Action</label>
        <div class="contents">
          <span class="content">
            <input required type="text" name="action" id="action" value="" placeholder="Enter Action"/>
          </span>
        </div>
      </div>
      <div class="section">
        <label for="role">Role</label>
        <div class="contents">
          <span class="content">
            <select required name="role">
              <option value=""></option>
            </select>
          </span>
        </div>
      </div>
      <div class="section">
        <label for="resource">Resource</label>
        <div class="contents">
          <span class="content">
            <input required type="text" name="resource" id="resource" value="" placeholder="Enter resource"/>
          </span>
        </div>
      </div>
      <div class="error-message"></div>
      {{> submitcontainer}}
    </fieldset>
  </form>
</div>
