<div class="modal add-people-modal">
  {{> modaltitle title="Add member to role(s)" }}
  <form class="container" action="/athenz/domain/{{allParams.domainId}}/member/add" method="post">
    <input type="hidden" name="token" value="" />
    <div class="members">
      <label>Add Member</label>
      <input required type="text" name="members" value="" placeholder="Principal format - {{userDomain}}.<userid> or <domain>.<service>"/>
    </div>
    <div class="role-container">
      <div class="all">
        <label class="role">
          <input type="checkbox" name="all" value="all" />
          <span class="icon-checkbox">Select Roles</span>
        </label>
      </div>
      <div class="roles"></div>
    </div>
    <div class="button-container">
      <button disabled class="primary" type="submit" value="add">Add</button>
      <button type="button" class="close">Cancel</button>
    </div>
  </form>
</div>
