<div class="modal add-service-modal">
  {{> modaltitle title="Add service to this domain" }}
  <form action="{{addService}}" method="post" class="container add-service-form">
    <fieldset>
      <input type="hidden" name="token" value="" />
      <div class="section">
        <label for="name">Service Name</label>
        <div class="contents">
          <span class="content">
            <input required type="text" name="name" id="name" placeholder="Enter new service name"
                pattern="[A-Za-z_0-9-_.]+" />
          </span>
        </div>
      </div>
      <div class="section">
        <label for="name">Public Key Id</label>
        <div class="contents">
          <span class="content">
            <input required type="text" name="keyId" id="keyId" placeholder="Enter new key id"
                pattern="[A-Za-z_0-9-_.]+" />
          </span>
        </div>
      </div>
      <div class="section">
        <label for="name">Key Value</label>
        <div class="contents">
          <span class="content">
            <textarea required name="key" id="key" cols="40" rows="5">
              Enter new public key value
            </textarea>
          </span>
        </div>
      </div>
      <div class="error-message"></div>
      {{> submitcontainer}}
    </fieldset>
  </form>
</div>
