<div class="user-guidance-text">
  <div class="content">
    Any User can create a personal domain based on their user ID. (As reference implementation, use PAM user ID.) The personal domain has the same functionality as product domains.
  </div>
</div>
<div class="domain-form">
  <h4>Personal</h4>
  <form action="" method="post">
      <fieldset>
        <div class="section">
          <label for="name">User ID</label>
          <div class="contents">
            <span class="content">
              <input name="name" type="text" value="{{userId}}" disabled />
            </span>
          </div>
        </div>
        <input type="hidden" name="token" value="" id="token" />
        {{> submitcontainer}}
      </fieldset>
  </form>
</div>
