<div class="modal delete-modal">
  <div class="content">
    <div class="title">
      <h1>This deletion is permanent</h1>
    </div>
    <span class="message"></span>
    <button class="close delete" type="button" value="delete">Delete</button>
    <button class="close cancel" type="button" value="cancel">Cancel</button>
  </div>
</div>
