<div class="modal results-modal">
  <div class="container">
    <h2>You have successfully added members to the following  roles</h2>
    <div class="role-container">
      <div class="roles">
        {{#each roles }}
        <div class="role">
          <span class="name">{{name}}</span>
          <span class="icon"></span>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="button-container">
      <button type="button" class="primary close">Done</button>
    </div>
  </div>
</div>
