<tr>
  <td>
    <div class="key">
      <div>
        <span class="id">{{id}}</span>
        <button formaction="{{deleteUrl}}" class="delete-key icon-trash"></button>
      </div>
      <span class="value">{{key}}</span>
    </div>
  </td>
</tr>
