<div class="add-key-form">
  <h5>Add key to this service</h5>
  <form action="{{addKeyUrl}}" method="post">
    <fieldset>
      <input type="hidden" name="token" value="" />
      <div class="section">
        <label for="name">Public Key Id</label>
        <div class="contents">
          <span class="content">
            <input required type="text" name="keyId" id="keyId" placeholder="Enter new key id"
                pattern="[A-Za-z_0-9-_.]+" />
          </span>
        </div>
      </div>
      <div class="section">
        <label for="name">Key Value</label>
        <div class="contents">
          <span class="content">
            <textarea required name="key" id="key" cols="40" rows="5"></textarea>
          </span>
        </div>
      </div>
      <div class="error-message"></div>
      {{> submitcontainer}}
    </fieldset>
  </form>
</div>
