<div class="modal add-role-modal">
  {{> modaltitle title="Add role to this domain" }}
  <form action="{{addRole}}" method="post" class="container add-role-form">
    <fieldset>
      <input type="hidden" name="token" value="" />
      <div class="section">
        <label for="name">Role Name</label>
        <div class="contents">
          <span class="content">
            <input required type="text" name="name" id="name" placeholder="Enter new role"
                pattern="[A-Za-z_0-9-_.]+" />
          </span>
          <span class="content role-type">
            <label for="category">Role Category</label>
            <span>
              {{{renderRadioButtons 'category' roleCategories}}}
            </span>
          </span>
          <span class="content">
            <input disabled required type="text" name="delegated-domain"
                placeholder="Enter Domain for Delegated Role" />
          </span>
        </div>
      </div>
      <div class="section">
        <label for="members">Add Member(s)</label>
        <div class="contents">
          <span class="content">
            <input required type="text" name="members" id="members"
                placeholder="Format - {{userDomain}}.<userid> or <domain>.<service>. (CSV)" />
          </span>
        </div>
      </div>
      <!--<div class="section">
        <label for="justification">Justification</label>
        <div class="contents">
          <span class="content">
            <textarea rows=5 placeholder="Justify Reason" name="justification" id="Justification"></textarea>
          </span>
        </div>
      </div>-->
      <div class="error-message"></div>
      {{> submitcontainer}}
    </fieldset>
  </form>
</div>
