<div class="user-guidance-text">
  <div class="content">
    A subdomain can be created by any admin of the parent domain. A subdomain is completely partitioned from its parent domain and shares no inheritance.
  </div>
</div>
<div class="domain-form">
  <h4>Sub domain</h4>
  <form action="" method="post">
    <fieldset>
      <div class="section">
        <label for="parent">Parent Domain</label>
        <div class="contents">
          <span class="content">
            <input name="parent" type="text" placeholder="Enter an existing domain" />
          </span>
        </div>
      </div>
      <div class="section">
        <label for="name">Sub Domain name</label>
        <div class="contents">
          <span class="content">
            <input name="name" type="text" placeholder="Enter new domain" pattern="[A-Za-z_0-9-]+" />
          </span>
        <span class="error-message">
          {{#if admins}}
            Sub Domains can be created only by one of the the following Domain Admins. Please have one of these admins create your sub domain: {{admins}}
          {{/if}}
        </span>
        </div>
      </div>
      <input type="hidden" name="token" value="" id="token" />
      {{> submitcontainer}}
    </fieldset>
  </form>
</div>
