{{#if this}}
<div class="domain-section">
  <form action="{{editUrl}}" method="post">
    <div class="details">
      <div>
        <span>Audit Enabled</span>
        <span>{{auditEnabled}}</span>
      </div>
      <div>
        <span>Cloud Account ID</span>
        <span><input disabled type="text" name="accountid" value="{{account}}"/></span>
      </div>
      <div>
        <span>Modified Date</span>
        <span>{{formatDate modified}}</span>
      </div>
    </div>
    <div class="edit hidden">
      <div class="error-message"></div>
      {{> submitcontainer}}
    </div>
  </form>
</div>
{{/if}}
