<div class="domain-form">
  <h4>Login User</h4>
  <form name="auth">
    <fieldset>
      <div class="section">
        <label for="username">Username</label>
        <div class="contents">
          <span class="content">
            <input name="username" type="text" placeholder="Enter your username" />
          </span>
        </div>
      </div>
      <div class="section">
        <label for="password">Password</label>
        <div class="contents">
          <span class="content">
            <input name="password" type="password" placeholder="Enter your password" />
          </span>
        </div>
      </div>
      {{> submitcontainer }}
    </fieldset>
  </form>
  <form name="login" action="{{target}}" method="post">
    <input type="hidden" name="redirect" value="{{redirect}}" id="redirect" />
    <input type="hidden" name="token" value="" id="token" />
  </form>
</div>
