<div class="policies-section">
  <div class="add-container">
    <button class="add-policy">Add a Policy</button>
  </div>
  <table cellspacing="0" class="list">
    <thead>
      <tr>
        <th>Policy</th>
        <th>Modified Date</th>
        <th class="icon">Add Rule</th>
        <th class="icon">Detail</th>
        <th class="icon">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each policies}}
      {{> policyrow policyTypes=../policyTypes}}
      {{/each}}
    </tbody>
  </table>
  {{> addpolicy }}
</div>
