<div class="roles-section">
  <div class="add-container">
    <div>
      <button class="add-role">Add Role</button>
    </div>
    <div>
      <button class="add-members">Add Members</button>
    </div>
  </div>
  <table cellspacing="0" class="roles-list">
    <thead>
      <tr>
        <th>Role</th>
        <th>Type</th>
        <th>Modified Date</th>
        <th class="icon">Members</th>
        <th class="icon">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each roles }}
      {{> rolerow allParams=../allParams}}
      {{/each}}
    </tbody>
  </table>
  {{> addrole }}
  {{> addrolemember }}
  {{> rolememberresults }}
</div>
