<div class="search-container">
  <form action="/athenz/search">
    <div class="search">
      <input type="text" name="query" value="{{searchQuery}}" placeholder="Search domains"/>
    </div>
    <button type="submit">Search</button>
  </form>
</div>
