<div class="services-section">
  <div class="add-container">
    <button class="add-service">Add a Service</button>
  </div>
  <table cellspacing="0" class="list">
    <thead>
      <tr>
        <th>Service</th>
        <th>Modified Date</th>
        <th class="icon">Add Key</th>
        <th class="icon">Detail</th>
        <th class="icon">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each services}}
      {{> servicerow}}
      {{/each}}
    </tbody>
  </table>
  {{> addservice }}
</div>
