<div class="app domain-container">
  {{> appheader }}
  <div class="app-section">
    {{#if subSections.role.active }}
      {{> roles }}
    {{else if subSections.service.active }}
      {{> services }}
    {{else if subSections.policy.active }}
      {{> policies }}
    {{/if}}
    {{#if pagination }}
      {{> pagination pagination }}
    {{/if}}
  </div>
</div>
