<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>zms-server</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>com.yahoo.athenz.zms.ZMS</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>zms-server</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Swagger Servlet -->
    <servlet>
        <servlet-name>swagger-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                io.swagger.v3.jaxrs2.integration.resources,
                com.yahoo.athenz.zms
            </param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>swagger-servlet</servlet-name>
        <url-pattern>/v1/api/*</url-pattern>
    </servlet-mapping>

    <!-- Authentication filter for swagger -->
    <filter>
        <filter-name>swagger-filter</filter-name>
        <filter-class>com.yahoo.athenz.common.filter.impl.SwaggerFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>athenz.swagger.require_cert_auth</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>swagger-filter</filter-name>
        <servlet-name>swagger-servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <!-- ==================================================================== -->
    <!-- Disable OPTIONS and TRACE methods with security constraint           -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Disable TRACE</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Enable OPTIONS for /zms/v1</web-resource-name>
            <url-pattern>/v1/*</url-pattern>
            <http-method>OPTIONS</http-method>
            <!-- no auth-constraint -->
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Disable OPTIONS</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>OPTIONS</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
</web-app>