.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-autocomplete {
  z-index: 5;
  background-color: white;
  border: 1px solid $darkBorderColor;
  border-radius: 2px;
  display: inline-block;
  overflow-y: auto;
  max-height: 300px;

  .ui-menu-item {
    cursor: pointer;
    line-height: 1.5;
    padding: 5px;

    &:hover {
      background-color: $tableBgHlColor;
    }
  }
}


@define-mixin select2 {
  .select2-container {
    width: 100% !important; /* always take container width*/
    &.select2-container--default {
      .select2-selection {
        background-color: $inputBackground;
        border: 1px solid $darkBorderColor;
        border-radius: 2px;
      }

      &.select2-container--focus:not(.select2-container--open) .select2-selection {
        border-color: $inputActiveBorder;
      }

      &.select2-container--open {
        .select2-selection {
          border-color: $inputActiveBorder;
        }
        &.select2-container--above .select2-selection {
          border-top-color: $lightBorderColor;
        }
        &.select2-container--below .select2-selection {
          border-bottom-color: $lightBorderColor;
        }
      }

      &.select2-container--disabled {
        .select2-selection__arrow {
          display: none;
        }
        .select2-selection {
          background-color: $disabledColor;
        }
      }
    }
  }
}

/* global since these are attached to body */
.select2-container.select2-container--default {
  .select2-dropdown {
    border: 1px solid $inputActiveBorder;

    &.select2-dropdown--above {
      border-bottom: none;
    }

    &.select2-dropdown--below{
      border-top: none;
    }

    .select2-search {
      input[type=search] {
        @extend %input-reset;
        border: 1px solid $lightBorderColor;
        outline: none;
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $tableBgHlColor;
    color: black;
  }
}
