@define-mixin bar-chart {
  .dual-bar-chart {
    width: 100%;
    .blue-bar {
      background-color: $blueBarColor;
      height: 1rem;
    }
    .green-bar {
      background-color: $greenBarColor;
      height: 1rem;
    }
    @mixin-content;
  }
}
