%button-transparent {
  background-color: transparent;
  border:none;
  cursor: pointer;
  outline: none;
}

%button-remove {
  @extend %button-transparent;
  color: $redAlertColor;
}


%button {
  @extend %input-reset;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  outline: 0;
  padding: 6px 15px 6px 15px;
  white-space: nowrap;
  min-height: 30px;

  &:disabled {
    color: $inactiveText;
    cursor: not-allowed;
    background-color: $disabledColor;
    border-color: transparent;
  }
}

@define-mixin button-blue-primary {
  @extend %button;
  color: $textLight;
  background-color: $bluePrimary;

  &:active {
    background-color: $bluePrimaryActive;
  }

  @mixin-content;
}

@define-mixin button-blue-secondary {
  @extend %button;
  background-color: white;
  border-color: $bluePrimary;
  color: $bluePrimary;

  &:active {
    border-color: $bluePrimaryActive;
    color: $bluePrimaryActive;
  }

  @mixin-content;
}

@define-mixin modal-button-blue-secondary {
  @mixin button-blue-secondary;
  font-size: 0.8rem;
  line-height: 1.5;
}

@define-mixin submit-buttons $type: submit {
  .$(type)-container {
    @extend %flex;
    padding: 10px 0 20px 0;

    .primary {
      min-width: 100px;
      margin: 0 10px 0 0;
      padding: 4px 1em 4px 1em;
      @mixin button-blue-primary;
    }

    button,
    a {
      display: inline-block;
      min-width: 100px;
      text-align: center;
      @mixin button-blue-secondary;
    }

    @mixin-content;
  }
}

@define-mixin add-button {
  @mixin modal-button-blue-secondary;
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

@define-mixin button-delete {
  @extend %button;
  color: $textLight;
  background-color: $redAlertColor;

  @mixin-content;
}
