@import './iconfont.css';


/* Refer to iconfont.css for values */
$radioDisabled: "\e923";
$radioEnabled: "\e924";
$checkboxDisabled: "\e917";
$checkboxEnabled: "\e916";
$checkmark: "\e912";

.icon-trash {
  cursor: pointer;
  &:hover {
    color: #464e56;
  }
  &::before {
    color: #9ea2af;
 }
}

.icon-edit,
.icon-key,
.icon-close,
.icon-remove-people,
.icon-add-people,
.icon-more {
  cursor: pointer;
}
