%flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

%flex-center {
  @extend %flex;
  justify-content: center;
}

%flex-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

%flex-column-center {
  @extend %flex;
  flex-direction: column;
  justify-content: center;
}

%link {
  cursor: pointer;
  text-decoration: none;
}

%input-element {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 10px;
  outline: 0;
}

%bg-icon {
  @extend %flex;
  &::before {
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    margin-right: 10px;
  }
}

%right-align {
  text-align: right;
}

%disabled-link {
  opacity: 0.5;
  pointer-events: none;
}

%input-reset {
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: $defaultFontSize;

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: $disabledColor;
  }
}

%base-input {
  @extend %input-reset;
  padding: 5px;
  border: 1px solid $darkBorderColor;
  font-family: inherit;
}

%button-reset {
  @extend %input-reset;
  padding: 0;
  background-color: inherit;
}

%select-reset {
  @extend %base-input;
  width: 100%;
  border-radius: 0;
  background-color: white;
}

%restrict-width {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@define-mixin modal $height, $width {
  background-color: $lightBorderColor;
  box-shadow: 0 0 8 0 rgba(0,0,0,0.75);
  position: absolute;
  min-height: $height;
  min-width: $width;

  @mixin-content;
}

%input-active {
  border-color: $inputActiveBorder;
  background-color: white;
}

@define-mixin center-modal $height: 85%, $width: 60% {
  border: 1px solid $darkBorderColor;
  background-color: white;
  display: none;
  height: $height;
  left: calc(50% - $width/2);
  position: fixed;
  top: calc(50% - $height/2);
  width: $width;
  z-index: 5;

  &.visible {
    display: block;
  }


  .title {
    @extend %flex;
    justify-content: space-between;
    padding: 1.5rem;
    height: 5rem;
    button {
      @extend %button-reset;
      font-size: 1.5rem;
    }
  }

  .container {
    @extend %flex-column;

    align-items: center;
    padding-top: 20px;
    height: calc(100% - 5rem);
    overflow-y: auto;
  }

  button {
    cursor: pointer;
  }

  @mixin-content;
}

@define-mixin graph-container $width, $height {
  width: $width;
  height: $height;

  .title {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
  }

  @mixin-content;
}

@define-mixin graph-stat {
  @extend %flex-column-center;
  span:first-child {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 6px;
  }
  span:nth-child(2) {
    color: $disabledText;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  @mixin-content;
}

@define-mixin circle-stat $width {
  .circle-stat {
    @mixin graph-container $width, $width {
      .content {
        margin: 20px auto 0 auto;
        width: calc(80% - 20px);
        height: calc(80% - 20px);

        .stat {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 4px solid transparent;

          @mixin graph-stat;
        }

        @mixin-content;
      }
    }
  }
}

@define-mixin radial-stat $height {
  $sectionsWidth: 120px; /*FIXME: need an alternative to this hardcoded px value*/
  .radial-stat {
    @mixin graph-container calc($sectionsWidth + $height), $height {
      .title {
        width: calc($height - 1rem);
      }

      .content {
        @extend %flex;
        flex-wrap: nowrap;

        .chart {
          height: calc($height - 1rem);
          width: calc($height - 1rem);
          position: relative;

          canvas {
            position: absolute;
            z-index: 2;
          }
          .stat {
            width: 100%;
            height: 100%;
            > span {
              z-index: 3;
            }
          }
        }

        .sections {
          @extend %flex-column;
          width: $sectionsWidth;
          height: calc($height - 3rem);
          justify-content: space-around;
          .stat {
            align-items: flex-start;
          }
        }

        .stat {
          @mixin graph-stat;
        }

        @mixin-content;
      }
    }
  }
}
