@import  './button.css';

%absolute-child {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

@define-mixin nav-links $borderColer: transparent {
  .nav-links {
    height: 100%;
    position: relative;
    padding-top: 4px;
    @extend %flex;

    &::after {
      @extend %absolute-child;
      border-bottom: 4px solid $borderColer;
    }

    li {
      @extend %flex;
      height: 100%;
      padding: 0 10px 5px 0;
      position: relative;

      a {
        display: inline-block;
        font-size: 1.1rem;
        padding: 5px 0 5px 0;

        &[class^="icon-"]::before {
          font-size: 1em;
          margin-right: 8px;
        }
      }

      &.active {
        font-weight: 500;
        pointer-events: none;
        &::after {
          @extend %absolute-child;
          z-index: 1;
          border-bottom: 4px solid $bluePrimary;
        }
      }
    }
    @mixin-content;
  }
}

@define-mixin black-link {
  color: black;
  @extend %link;

  &:hover {
    color: black;
  }
}

@define-mixin blue-link {
  color: $linkColor;
  @extend %link;

  &:hover {
    color: $linkHoverColor;
  }
}

@define-mixin relative-modal $height, $width, $containerDisatance {
  background-color: $lightBorderColor;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.75);
  display: none;
  margin-top: $containerDisatance;
  min-height: $height;
  min-width: $width;
  padding: 10px;
  position: absolute;
  z-index: 4;

  &::before {
    color: $lightBorderColor;
    display: block;
    position: absolute;
    top: -$containerDisatance;
    left: calc(3 * $containerDisatance);

    text-shadow: 0 -4px 04px rgba(0, 0, 0, 0.5);
    content: '▲';
  }

  &.visible {
    @extend %flex-column;
    align-items: flex-start;
  }

  input,
  textarea {
    @extend %base-input;
    width: 100%;
  }

  button {
    margin-top: 10px;
    padding: 4px 1em 4px 4px;
    @mixin button-blue-primary;
  }

  @mixin-content;
}

@define-mixin generic-form $type {
  overflow-y: visible;
  .$(type)-form {
    @mixin submit-form {
      @mixin-content;
    }
    @mixin submit-buttons {
      border-top: 1px solid #f0f0f4;
      padding-left: 20%;
    };
  }
}

@define-mixin input-icon $type {
  input[type=$(type)] {
    height: 0;
    margin: 0;
    opacity: 0;
    width: 0;

    & + span::before {
      padding-right: 5px;
      font-size: 1em;
    }

    &:not(:checked) + span {
      color: $disabledText;
      &::before {
        content: $($(type)Disabled)
      }
    }

    &:focus + span::before {
      color: $inputActiveBorder;
    }

    &:checked + span::before {
      content: $($(type)Enabled)
    }
  }
}

@define-mixin list {
  .list {
    ul {
      li {
        margin: 8px 0 8px 0;
        a {
          @mixin blue-link;
        }
      }
    }
  }
}

@define-mixin review-field {
  .review-field {
    @extend %flex;
    .label {
      flex: 0 1 20%;
    }

    .value {
      flex: 0 1 80%;
      &[class^="icon-"]::before {
        font-size: 1em;
        margin-right: 8px;
      }
    }

    a {
      @mixin blue-link;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@define-mixin take-ownership {
  .take-ownership {
    @mixin add-button;

    & + span {
      color: $grayText;
    }
    @mixin-content;
  }
}

@define-mixin highlight $class : highlight {
  .$(class) {
    background-color: #ebebff;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      height: 100%;
      width: 5px;
      background-color: $bluePrimary;
      top: -1px;
      left: 0;
    }

    @mixin-content;
  }
}

@define-mixin user-icons {
  a[class^="icon-"]::before {
    padding-right: 5px;
  }

  .icon-admin::before {
    color: black;
    font-size: 0.9rem !important;
    vertical-align: middle;
  }
  .icon-user::before {
    margin-right: 0.9rem !important;
    content: '';
  }
}

@define-mixin error-message {
  color: $errorColor;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.3;
  a {
    @mixin blue-link;
  }
}

@define-mixin modal-form {
  .modal {
    @mixin center-modal {
      .container {
        @mixin submit-buttons button {
          margin-top: 25px;
        };

        @mixin form-element;
      }
      form {
        padding: 1.5em;
        @mixin input-icon checkbox;
        fieldset {
          width: 100%;
        }
      }
    }

    .error-message {
      padding-left: 20%;
      @mixin error-message;
    }

    @mixin-content;
  }
}

@define-mixin home {
  .home {
    padding: 0 15px 0 15px;
    margin: 5px 0 5px 0;
    .athenz-logo {
      @extend %flex;
      color: black;

      h2 + span {
        font-size: 0.8rem;
        margin-left: 5px;
      }

      &::before {
        content: '';
        display: inline-block;
        background-image: url("/imgs/welcome_to_athenz.gif");
        background-size: cover;
        background-clip: border-box;
        background-repeat: no-repeat;
        height: 50px;
        width: 55px;
        margin-right: 10px;
      }
    }
    @mixin-content;
  }
}

@define-mixin breadcrumbs {
  .breadcrumbs {
    margin: 0 0 0 0;
    font-size: 0.8rem;
    @extend %flex;

    li {
      &:last-child:not(:only-child) a {
        color: black;
        pointer-events: none;
      }

      &:only-child {
        a {
          @mixin blue-link;
        }
      }

      &:not(:last-child) {
        a {
          @mixin blue-link;
        }
        &::after {
          content: '/';
          padding: 0 10px 0 10px;
        }
      }
    }

    @mixin-content;
  }
}
