@import './layout.css';

%stat-number {
  @extend %right-align;
  border-right: 1px solid $lightBorderColor;
  padding: 0 5px 0 0;
}

%right-border {
  border-right: 1px solid $darkBorderColor;
}

@define-mixin highlight $class : highlight {
  .$(class) {
    td {
      background-color: $tableBgHlColor;
      &:first-child {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          display: inline-block;
          height: 100%;
          width: 5px;
          background-color: $bluePrimary;
          top: -1px;
          left: 0;
        }
      }

      @mixin-content;
    }

    &:nth-child(2n +1) td {
      background-color: $tableBgHlColor;
    }
  }
}

@define-mixin generic-table $rowBgColor {
  thead {
    border-bottom: 1px solid $darkBorderColor;

    th {
      color: $grayText;
      font-weight: 400;
      font-size: $smallFontSize;
      padding-bottom: 10px;
      vertical-align: top;
      text-transform: uppercase;
    }
  }

  .icon {
    width: 100px;
    text-align: center;
  }

  tbody {
    @mixin highlight {
      .icon-status-approved::before {
        color: $successColor;
        content: $checkmark;
        font-size: 1.2rem;
        font-weight: bold;
      };
    }

    button {
      @extend %button-reset;
    }
    @mixin highlight graph-highlight;

    tr {
      height: 30px;

      &.odd td {
        background-color: $rowBgColor;
      }

      &.active td {
        background-color: $rowActiveColor;
      }

      &.active-dark td {
        background-color: $rowDarkActiveColor;
      }
    }

    .info {
      background-color: $rowActiveColor;
      h5 {
        font-size: 1.1rem;
        font-weight: 500;
        margin: 0 0 10px 0;
      }

      &:last-child {
        border-bottom: 1px solid $darkBorderColor;
      }

      .info-block {
        margin: 15px 0 0 0;
        tbody {
          background-color: white;
        }
      }
    }

    .hidden {
      display: none;
    }

    .active + .info {
      border-bottom: 1px solid white;
    }
  }

  th,
  td {
    text-align: left;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    word-break: break-all;

    &:last-child {
      border-right: none;
    }

    a {
      @mixin blue-link;
      font-weight: 300;
    }

    [class^="icon-"]::before {
      font-size: 1.1em;
      padding-right: 5px;
    }
  }

  .number {
    @extend %stat-number;
  }

  .date {
    min-width: 150px;
  }

  @mixin-content;
}

@define-mixin data-table {
  @mixin generic-table $rowBgColor {
    @mixin-content;
  }
}
