$darkBorderColor: #d8dade;
$lightBorderColor: #f0f0f4;
$linkColor: #188fff;
$linkHoverColor: #003abc;
$redAlertColor: #f0162f;
$tableBgColor: #fbfbff;
$tableHlColor: #f3fcfb;
$tableBgHlColor: #eaf4fd;

$defaultFontSize: 1rem;
$smallFontSize: 0.8rem;

$grayText: #9ea2af;

$bluePrimary: $colorBlue10a;
$bluePrimaryActive: $colorBlueviolet12a;
$blueSecondary: $colorBlue10a;
$blueSecondaryActive: $colorBlueviolet12a;

$textLight: $colorGrayJ;
$inactiveBackground: $colorGrayG;
$inactiveText: $colorGrayFg;
$disabledColor: #e0e4e9;

$errorColor: #dc142d;
$inputBackground: #f7f8ff;
$inputActiveBorder: #188fff;
$disabledText: #999999;

$successColor: #1ac567;
$rowBgColor: #f7f8ff;

$lightSeparator: #fff;
$rowActiveColor: #e6faf6;
$rowDarkActiveColor: #d1f5ef;
$blueBarColor: #0081f2;
$greenBarColor: #00cd7a;

