<div class="app home-container">
  <div class="app-header">
    <div class="app-title">
    <h1>404: Not Found</h1>
    <p>Sorry, but we could not find <code>{{url}}</code></p>
    </div>
  </div>
</div>
