<div class="app home-container">
  <div class="app-section">
    <div class="app-navigation">
      <div class="desc">
        <!--h1>Welcome to Athenz</h1-->
        <!--<div class="welcome-athenz-logo"></div>-->
        <div class="details">
          Athenz - The next-gen fine grained access control for dynamic infrastructure.
        </div>
      </div>
      {{> search }}
    </div>
  </div>
</div>
