**/.idea
*.class
.DS_Store
*~
*#*
_*
*.jar
.classpath
.project
.settings/
target/
test_results/
test-output/
.checkstyle
dependency-reduced-pom.xml
bin/
src/test/resources/svc.ntoken
src/test/resources/var/
src/test/resources/domain_state.json
src/test/resources/run_state.json
