@define-mixin form-element {
  input[type=url],
  input[type=search],
  input[type=number],
  input[type=text],
  input[type=password],
  textarea {
    width: 100%;
    background-color: $inputBackground;
    @extend %base-input;

    &:focus {
      @extend %input-active;
    }
    @mixin-content;
  }
}

@define-mixin submit-form {
  .message {
    margin: 0 0 10px 0;
    color: $errorColor;
  }
  fieldset {
    .section {
      width: 100%;
      margin: 0 0 25px 0;
      @extend %flex;

      > .review-field {
        width: 100%;
      }

      > label {
        align-self: flex-start;
        flex: 0 1 20%;
        margin-top: 10px;
      }

      .contents {
        flex: 0 1 50%;
        overflow: hidden;

        .content {
          @extend %flex-column;
          width: 100%;

	  &:not(:last-child) {	  
	    margin-bottom: 10px;
          }

          > label {
            &:not(:last-child) {	  
              margin-bottom: 10px;
            }

            input {
              margin-right: 5px;
            }
          }

          .long-desc {
            line-height: 1.2;
            margin-bottom: 10px;
          }


          @mixin select2;

          &.missing {
            select,
            textarea,
            input,
            .select2-container.select2-container--default .select2-selection {
              border: 1px solid red;
            }
            &::after {
              display: block;
              margin-top: 10px;
              content: 'Required data'
            }
          }

          select {
            background-color: $inputBackground;
            display: inline-block;
            height: 28px;
            @extend %select-reset;
          }

          span {
            &:focus {
              outline: none;
            }
          }

          .help-wrapper {
            @extend %flex;
            width: 100%;

            .input {
              flex: 0 1 calc(100% - 2.5rem);
            }

            .info {
              flex: 0 1 1.2rem;
              color: $grayText;
              cursor: pointer;
              padding-left: 10px;
            }
          }

          label {
            padding-right: 10px;
          }

          @mixin input-icon radio;
          @mixin input-icon checkbox;
          @mixin form-element;

          @mixin-content;
        }
      }
    }
  }
}
