<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">

  <!-- This will log to STDOUT - and will be recorded in GCP functions logs -->
  <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- This will go the service response - to the HTTP request's response -->
  <appender name="STREAM_APPENDER" class="ServiceOutputStreamAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
    </encoder>
    <immediateFlush>true</immediateFlush>
  </appender>

  <root level="ALL">
    <appender-ref ref="CONSOLE_APPENDER" />
    <appender-ref ref="STREAM_APPENDER" />
  </root>
</configuration>
