name: Publish Athenz packages to Maven Central

on:
  push:
    tags:
      - 'v1.12.*'

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  issues: none
  discussions: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

env:
  GOLANG_VERSION: 1.24
  JAVA_VERSION_SERVER_BUILD: 17
  JAVA_VERSION_CLIENT_BUILD: 11
  JAVA_DISTRO: temurin
  JAVA_ARCH: x64

jobs:
  client-publish:
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Checkout repository
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Golang
        id: setup-go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Setup Java
        id: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION_CLIENT_BUILD }}
          distribution: ${{ env.JAVA_DISTRO }}
          architecture: ${{ env.JAVA_ARCH }}

      - name: Build and Publish Client Modules
        run: actions/scripts/publish.sh client
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.RELEASES_GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.RELEASES_GPG_PRIVATE_KEY }}
          PUBLISH_SKIP_PACKAGES: ${{ secrets.PUBLISH_SKIP_PACKAGES }}

  server-publish:
    runs-on: ubuntu-latest-4-cores
    needs: client-publish
    steps:
      - name: Checkout repository
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Golang
        id: setup-go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Setup Java
        id: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION_SERVER_BUILD }}
          distribution: ${{ env.JAVA_DISTRO }}
          architecture: ${{ env.JAVA_ARCH }}

      - name: Build and Publish Server Modules
        run: actions/scripts/publish.sh server
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.RELEASES_GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.RELEASES_GPG_PRIVATE_KEY }}
          PUBLISH_SKIP_PACKAGES: ${{ secrets.PUBLISH_SKIP_PACKAGES }}
